.hide {
	display: none;
}

.show {
	display: block;
}

.upperText {
	font-size: $mainFontSize;
	display: block;
	margin: 15px 0px 5px 25px;
	padding-top: 10px;
	@media #{$bp-small}{
		margin-left: 10px;
	}
	
}

.content{
	background-color:#ECECEC;
	overflow: scroll;
	margin-left: 25px;
	@media #{$bp-small}{
		margin-left: 10px;
	}
}


#box {
	border-left: thick solid #DEE0E2;
	p {
		
		font-size: 12px;
		margin-left: 25px;
		padding-bottom: 10px;
		@media #{$bp-small}{
			margin-left: 10px;
		}
	}
}
