	.header{

			background-color:black;
			height:50px;
			width:100%;
			position: relative;

			.headerWrapper{
				width:75%;
				height:50px;
				margin: 0px auto 0px;
				@media #{$bp-small}{
					width:90%;
				}
				@media #{$bp-med}{
					width:90%;
				}
				}


			.headerText {
				position: relative;
				top: 15px;
				overflow: visible;
				font-size: 20px;
				color: #FFFFFF;
				width: 100px;
        }

			}



	.subheader {
    font-size: 14px;
		font-family:Arial, Helvetica, sans-serif;
		margin-top: 10px;
	}

	.blueLine HR{
		color: blue;
		background-color: #005ea5;
		height: 8px;
		margin-top: 0px;
		border-top: 0px;

	}
