html, body {
    margin: 0;
    padding: 0;
    font-family: $mainFontFamily;
}

.page {
	width: 75%;
	margin:0px auto ;
	@media #{$bp-small}{
		width: 90%;
	}
	@media #{$bp-med}{
		width: 90%;
	}
	
}

.main {
	font-size: $mainFontSize; 
	margin-bottom: 8px;
	}


fieldset {
	border: none;
	padding: 0;
	margin: 0;
	margin-top:20px;
}

 
