textarea {
	width: 325px;
	height: 125px;
	background-color:#DEE0E2;
	font-size: $mainFontSize;
	resize:none;
	overflow:auto;
	@media #{$bp-small}{
		width: 90%;
		height: 150px;
	}
}

h1{
	font-size: 35px;
	font-weight:bold;
	@media #{$bp-small}{
		font-size: 26px;
		text-align: center;
	}
}

h2{
	@media #{$bp-small}{
		text-align: center;
		font-size:22px;
	}
}


.subheader a{
		color: #58ACFA;
	}

.para1{
		font-size: $mainFontSize; 
		padding-top: 10px;
	}