

	.checkboxgroup{
		display:inline-block;
		background-color:#DEE0E2;
		padding: 15px 25px 15px 25px;
		margin-top: 10px;
		text-align: center;
	}

	.checkboxgroup label {
		display:block;
		font-size: 14px; 
		margin-top: 5px;
	}

	.checkboxgroup--stacked{
		float: left;
		clear: both;

	}


	.checkboxgroup--stacked label{
		display:inline-block;
		margin-left: 5px;
		text-align: center;
	}

	.change {
		border: 2px solid #F4FA58;
		background-color: white;
	}


	textarea {
		width: 325px;
		height: 125px;
		background-color:#DEE0E2;
		font-size: 14px;
		resize:none;
		overflow:auto;
	}
	

	


	